body{
    margin:0;
    
    }
    .content{
        display:row;
        width:100%;
        height:2800px;
        }
      
/*Header*/

.header {
    font-weight: 900;
    margin: 0;
    font-family: monospace;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    color: #000;
    background-color: #fff;
    padding: 0px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }

  .logo {
    width: 280px; 
    height: auto; 
    margin-right: 20px; 
  }

  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    text-align: center; 
  }

  .nav li {
    position: relative;
  }

  .nav li a {
    text-decoration: none;
    color: #555; 
    padding: 10px;
    position: relative;
    font-size: 18px; 
    font-weight: lighter; 
    transition: all 0.3s ease;
  }

  .nav li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 2px; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
  }

  .nav li a:hover::before {
    background-color: #555; 
  }

  .dropdown {
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    width: max-content; 
  }

  .nav li:hover .dropdown {
    display: block;
  }

  .dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
  }

  .dropdown ul li a {
    color: #555; 
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    white-space: nowrap; 
  }

  .dropdown ul li a:hover {
    color: #000; 
  }


/*End of Header*/

    /*content*/
    
    .best_sellesrs_container{
        width:100%;
        height:50%;
        background-color:white;
        display:flex;
        flex-direction:row;
        justify-content: center;
        position:relative;
        }
    .best_sellers {
        height: 70%;
        background-color: white;
        width: 18%;
        padding:1%;
       
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 10%;
        font-family: monospace;
        font-size: 17px;
        color: black;
        font-weight: 100;
        font-style: italic;
        padding-right: 10px;
    
        width: 100%;
        height: auto;
        transition: opacity 0.5s ease-in-out;
        object-fit: cover; 
        cursor: pointer; 
    }
    /*text for catalog*/
    .text_catalog {
width: 100%;
height:15%;
background-color:white;
position: relative;
text-align: center;
top:8%;
font-family: monospace;
font-size: 18px;
font-weight: 300;
font-style: italic;
    
}
    .text_catalog span{
        font-size: 40px;
        color: black;
        font-weight: 500;
        font-style: italic;
        text-align:justify;
        
    }
    hr {
      border: none;
      height: 1px;
      background-color: #000000;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      margin: 0px 0;
    }
    /*end of text catalog*/
    /*image catalog*/
    .image-catalog {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        gap: 1%; 
        width: 90%; 
        margin: 0 auto;
        padding: 0px; 
        box-sizing: border-box;
    }
    .image-catalog_ {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 
      grid-template-rows: repeat(3, 1fr); 
      gap: 1%; 
      width: 90%; 
      margin: 0 auto;
      padding: 0px; 
      box-sizing: border-box;
  }
    

    .image-catalog img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    /*zoom*/
    .zoomed {
        width: auto; 
        height: 30vh; 
        max-width: 30vw; 
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background: rgba(255, 255, 255, 0.9); 
        cursor: zoom-out; 
    }
     /*end of image catalog*/
     /*footer*/
     body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; 
        margin: 0;
    }

    .content {
    flex: 1; 
    padding-top:    12%; 
    
}

    .footer {
        
        font-family: monospace;
        background-color: #ffffff;
        color: #000000;
        font-size: 17px;
        font-weight: 300;
        font-style: italic;
        padding: 0px;
        position: relative;
        text-align: center;
        width: 100%;
        margin-top:100px;
    }
      
      .footer p {
        margin: 5px 0;
      }
      
      .footer .contact-info,
      .footer .social-icons,
      .footer .links {
        margin-bottom: 10px;
      }
      
      .footer a {
        color: #000000;
        text-decoration: none;
        margin: 0 10px;
        font-size: 20px;
        transition: color 0.3s ease;
      }
      
      .footer a:hover {
        color: #ff4500;
      }
      
      .footer .contact-info p {
        margin-bottom: 3px;
      }
      
      .footer .social-icons a {
        margin: 0 8px;
      }
      
      .footer .links a {
        margin: 0 15px;
      }
      
      
  /*Kotva*/
  .scroll-btn {
    background-color: transparent; 
    border: 2px solid #000; 
    color: #000; 
    padding: 10px 26px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    transition-duration: 0.4s; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  .scroll-btn:hover {
    background-color: #000; 
    color: #fff; 
}
  /*end of footer*/
  .cool-btn-white {
    background-color: transparent; 
    border: 2px solid #000; 
    color: #000; 
    padding: 10px 26px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    transition-duration: 0.4s; 
    cursor: pointer; 
    border-radius: 5px; 
}

.cool-btn-white:hover {
    background-color: #000; 
    color: #fff; 
}